* {
  --snippet-background-color: rgb(27, 26, 26);
  --snippet-header-background-color: rgb(53, 51, 51);
  --snippet-header-text-color: rgb(150, 149, 149);
  --snippet-tab-hover-color: rgb(78, 76, 76);
  --snippet-tab-hover-text-color: rgb(196, 194, 194);
  --ka-token-color: orange;
  --kb-token-color: salmon;
  --kc-token-color: green;
  --quoted-token-color: rgb(71, 226, 175);
  --data-token-color: purple;
  --function-token-color: rgb(75, 75, 216);
  --separator-token-color: whitesmoke;
  --property-token-color: aqua;
  --operator-token-color: rgb(226, 95, 95);
  --parameter-token-color: pink;
  --var-token-color: lightgreen;
  --attribute-color: purple;
  --snippet-border-radius: 0px;
}
