* {
  --snippet-background-color: rgb(195, 204, 206);
  --snippet-header-background-color: rgb(53, 52, 51);
  --snippet-header-text-color: #bd5f43;
  --snippet-tab-hover-color: rgb(84, 82, 87);
  --snippet-tab-hover-text-color:  #ffa68a;
  --ka-token-color: rgb(7, 107, 153);
  --kb-token-color: rgb(57, 126, 57);
  --kc-token-color: rgb(97, 51, 8);
  --quoted-token-color: rgb(109, 44, 184);
  --data-token-color: rgb(52, 83, 87);
  --function-token-color: rgb(144, 44, 211);
  --separator-token-color: rgb(34, 31, 31);
  --property-token-color: rgb(52, 78, 78);
  --operator-token-color: rgb(46, 70, 15);
  --parameter-token-color: rgb(126, 9, 73);
  --var-token-color: lightgreen;
  --element-token-color: rgb(2, 105, 97);
  --attribute-color: rgb(204, 157, 2);
  --text-token-color: rgb(52, 56, 83);
  --snippet-border-radius: 0px;
}
